

.one{

	border: 2px solid #060606;
	border-radius: 20px;
	position: relative;
	width: 800px;
	height: 400px;
	top: 100px;
	left: 20%;
	background: #F7E0AA;

}
.vnone{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px solid #020202;
	border-radius: 20px;
	
	background: #C32D2D;
}
.vntwo{
	width: 450px;
	height: 200px;
	position: absolute;
	right: 0px;
	top: 25%;
	border: 2px solid #020202;
	border-radius: 20px;
	background: #3DC83D; 
}
.vnvn{
	width: 70px;
	height: 70px;
	position: absolute;
	left: 30%;
	top: 25%;
	border: 2px solid #020202;
	background: #C3FC28;
}